<ion-header>
  <ion-toolbar>
    <ion-title><!--ambientes--></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="espacio">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-item>
      <ion-label>Seleccione un Ambiente</ion-label>
      <ion-select [(ngModel)]="ambiente" name="ambiente" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="Cancha">Cancha</ion-select-option>
        <ion-select-option value="Gimnasio">Gimnasio </ion-select-option>
        <ion-select-option value="ZonaVerde">Zona verde</ion-select-option>
        <ion-select-option value="Atracciones">Atracciones</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="this.ambiente!=''">
      <ion-label>Estado</ion-label>
      <ion-select  [(ngModel)]="estadoAmbiente" name="estadoAmbiente" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option value="Excelente">Excelente</ion-select-option>
        <ion-select-option value="Sobresaliente">Sobresaliente </ion-select-option>
        <ion-select-option value="Aceptable">Aceptable</ion-select-option>
        <ion-select-option value="Insuficiente">Insuficiente</ion-select-option>
        <ion-select-option value="Deficiente">Deficiente</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="this.estadoAmbiente!=''">
      <ion-label type='text'>GeoReferenciar</ion-label>
      <ion-icon name="locate"></ion-icon>
    </ion-item>
    <ion-item *ngIf="this.estadoAmbiente!=''">
      <ion-label>Coordenada X</ion-label>
      <!-- quitar el value y hacer la funcion de la geo refenrenciacion,con la api y asi tome el valor en el input-->
      <ion-input disabled value='1' [(ngModel)]="coordenasX" name="coordenasX"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.estadoAmbiente!=''">
      <ion-label>Coordenada Y</ion-label>
      <!-- quitar el value y hacer la funcion de la geo refenrenciacion,con la api y asi tome el valor en el input-->
      <ion-input disabled value='2' [(ngModel)]="coordenasY" name="coordenasY"></ion-input>
    </ion-item>
    <ion-item *ngIf="this.estadoAmbiente!=''"> 
      <ion-label type='text'>Tomar Foto</ion-label>
      <ion-icon (click)="tomarFoto()" name="camera"></ion-icon>
      <ion-item>
        <ion-checkbox disabled></ion-checkbox>
      </ion-item>
    </ion-item>
    <ion-item *ngIf="this.estadoAmbiente!=''">
      <ion-label type='text'>Novedad</ion-label>
      <ion-textarea [(ngModel)]="novedad" name="novedad"
        placeholder="Si evidencia alguna novedad, por favor registrarla. =)"></ion-textarea>
    </ion-item>
    <ion-button class='botonregistro' (click)="irVistaParque()" name="Cancelar" color="primary">Cancelar</ion-button>
    <ion-button class='botonregistro' (click)="validarFormulario()" name="VistaParque" color="primary">Registrar</ion-button>
  </ion-card>
</ion-content>