<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="espacio">
    <ion-card-header>
      <ion-card-title>El registro fue Realizado exitosamente</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-button   class='botonexitoso botonfinalizar' (click)="otroRegistro()" name="seguir" color="primary">realizar otro registro</ion-button>
    <ion-button class='botonfinalizar' (click)="cancelarRegistro()" name="cancelar" color="primary">Cancelar</ion-button>
  </ion-card>
</ion-content>
