<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Bienvenido</ion-card-title>
    </ion-card-header>
    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-button (click)="ircoordenadas()" name="inicio" color="primary">Iniciar</ion-button>
  </ion-card>
</ion-content>